

:root {

    --header-width: 80px
    --main-width: 2fr;
    --foter-width: 1fr; 

}



body{


    display: grid;
    grid-template-areas: "header header"
                         "main main"
                         "footer footer";

    grid-template-rows:  var(--header-width) var(--main-width) var(--foter-width);
    

    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}



