

.header {


    display: flex;
    align-items: center;
    grid-area: header;
    position: relative;
    top: 0;
}

.h1 {
    padding-left: 5px;
    font-size: 1.5rem;
    flex: 1;
    color: blue;
    

}

.nav {
    justify-content: end;
    flex: 2;
    display: flex;
    
}

.nav a {
    
    margin: 10px 10px;

}

.nav :hover{
    
    text-decoration: underline;

}


@media (max-width: 567px){

    .header{
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        height: 100%;

    }

}